p{
  margin-bottom: 6px;
}
.card-body{
  padding: 6px;
}

.add-export{
  font-size: 20px;
  cursor: default;
}

.add-export:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

span{
  float: right;
  font-size: 30px;
}

span:hover{
  color: #a3a5aa;
  cursor: pointer;
}

.margin-top{
  margin-top: 20px;
}
