<h1>Kommentare</h1>
<div class="row">
  <button class="btn btn-sm btn-success" [ngClass]="{'col-lg-4':loadedCSV,'col-lg-5':!loadedCSV}"  (click)="downloadCSV()" [disabled]="!loadedCSV">
    <i class='fa fa-circle-o-notch fa-spin'
       *ngIf="!loadedCSV"></i>{{!loadedCSV ? " Gesamtübersicht der Kommentare wird heruntergeladen" :
    "Gesamtübersicht exportieren"}}</button>
  <div class="col"></div>
  <div class="form-group has-search col-lg-4">
    <span class="fa fa-search form-control-feedback "></span>
    <input type="number" class="form-control" placeholder="Kommentar suchen" [(ngModel)]="filter_id">
  </div>
</div>
<div class="list-group animate-bottom" *ngIf="loaded">
  <app-comment *ngFor="let comment of comments | commentsFilter:filter_id" [comment]="comment"></app-comment>
</div>
<app-loading-animation *ngIf="!loaded"></app-loading-animation>
